.slider-component {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0rem;
  width: min(100% - 1rem, 20rem);

  .label {
    width: min(100%, 6rem);
    text-align: right;
  }

  .input-container {
    background-color: white;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.2rem;
    width: min(100% - 1rem, 12rem);
    height: 2.5rem;
    padding-inline: 0.8rem;

    .icon {
      fill: rgb(94, 93, 93);
    }

    .input {
      text-align: left;
      font-family: inherit;
      font-size: 1rem;
      color: rgb(59, 59, 59);
      width: 100%;
    }
  }
}

.error {
  .input-container {
    border: 3px solid rgb(199, 34, 34);
  }
}
